HDD_ROOT=C:/Media
IMMICH_ROOT=C:\/Media/immich

TZ=America/Santiago

PUID=1000
PGID=1000

TAILSCALE_IP=100.100.124.8

RADARR_API_KEY=your_radarr_key
SONARR_API_KEY=your_sonarr_key
PROWLARR_API_KEY=your_prowlarr_key
BAZARR_API_KEY=your_bazarr_key

JELLYFIN_API_KEY=your_jellyfin_key
IMMICH_API_KEY=your_immich_key

ADMIN_USER=admin
ADMIN_PASS=$$your_password
ADMIN_EMAIL=your_email@domain.com
