**/.env
**/.gitignore.swp

**/logs/
**/log/
*.log
*.pid
*.lock
lockfile
.DS_Store
Thumbs.db
.vscode/
__pycache__/

*.db
*.db-shm
*.db-wal
*.sqlite
minecraft/data/
nginx/data/
nginx/letsencrypt/
immich/library/
immich/postgres/
immich/model-cache/
adguard/confdir/
adguard/workdir/
terraria/plugins/
terraria/world/
terraria/.git/

**/config/
!homepage/config/
**/Definitions/
**/MediaCover/
**/BT_backup/
**/GeoDB/
**/nova3/
**/ipc-socket
ipc-socket
qBittorrent-data.conf

*.db
*.sqlite3
*.sql
